@font-face {
    font-family: 'Roboto-Medium';
    src: url('fonts/Roboto-Medium.ttf');
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Piazzolla';
    src: url('fonts/Piazzolla-VariableFont_opsz,wght.ttf');
}

@font-face {
    font-family: 'Open Sans';
    src: url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
}

@font-face {
    font-family: 'Open Sans 500';
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
}

body {
    background: rgb(185, 185, 185);
    margin: 0px;
    background-attachment: fixed;
    /* Le fond restera fixe */
}

header {
    background: #131921;
}

.logo {
    padding-left: 25px;
    padding-top: 25px;
}

.network {
    padding-left: 25px;
    padding-top: 25px;
}

.network img {
    max-width: 60%;
    height: auto;
}

.network ul {
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.network li {
    list-style: none;
}

.network li a {
    display: inline-block;
    margin-right: 5px;
    filter: invert(1);
    transition: 0.5s;
}

.network li a:hover {
    transform: translateY(-15px);
}


/* identification (login/register) */

#indentifcation {
    border: 10px solid red;
    /* marche pas */
}

#identification ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding-inline-start: 0px;
    padding-inline-end: 1em;
}

.header_right li
/*#indentication a est relou */

{
    padding-right: 0.1em;
}

.header_right a
/*#indentication a est relou */

{
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

.header_right input[type=button] {
    background-color: #2e3b49;
    ;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.24), 0 3px 7px 0 rgba(0, 0, 0, 0.19);
    transition: 0.5s;
}

.header_right input[type=button]:hover
/* #indentication a:hover morche po */

{
    background-color: #506072;
}

.register input[type=button] {
    background-color: #4CAF50;
}

.register input[type=button]:hover
/* #indentication a:hover morche po */

{
    background-color: #69c46c;
}

.header_right input[type=button]:active
/* #indentication a:hover morche po */

{
    background-color: #30373f;
    transform: translateY(-5px);
}

.register input[type=button]:active
/* #indentication a:hover morche po */

{
    background-color: #215322;
}


/* Navigation */

nav {
    background: #232f3e;
    display: flex;
    justify-content: flex-end;
}

nav ul {
    list-style-type: none;
    display: flex;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-right: 10em;
}

nav li {
    margin-right: 30px;
}

nav a {
    font-family: 'Open Sans';
    font-size: 1.5em;
    color: white;
    padding-bottom: 3px;
    text-decoration: none;
    transition: 0.5s;
}

nav a:hover {
    padding-left: 0.5;
    padding-right: 1.0em;
    text-decoration: underline;
}


/* Flex Header */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 15px;
}

.header_left {
    display: flex;
    flex-direction: row;
}


/* Banniere */

.banniere_image {
    display: flex;
    margin: auto;
    justify-content: center;
}

.banniere_image img {
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    max-width: 100%;
    height: auto;
}


/* Flex main aside */

.bloc_page {
    display: flex;
    /* margin : 10em; */
    margin-left: 4em;
    margin-top: 5em;
    margin-right: 3em;
    margin-bottom: 3em;
}

article,
aside {
    text-align: justify;
}

aside {
    font-family: 'Roboto-Medium', 'Raleway';
    flex: 1.2;
    position: relative;
    background-color: rgba(255, 244, 244, 0.918);
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    padding: 10px;
    color: black;
    font-size: 0.9em;
}

article {
    margin-right: 3em;
    padding-left: 3em;
    flex: 3;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    background-color: white;
}

article p {
    margin-right: 20px;
    border-radius: 5px;
    /* pour bien voir, temp */
    padding: 10px;
}

h1 {
    font-family: 'Roboto';
    font-family: 'Open Sans ';
    color: #f0476e;
    font-size: 2.5em;
}

h2 {
    font-family: 'Roboto-Medium';
    font-family: 'Open Sans 500';
}


/*FOOTER*/

footer img {
    max-width: 60%;
    height: auto;
}

footer h1 p {
    font-family: 'Open Sans';
}

footer p {
    color: white;
    font-size: 0.8em;
}

footer h1 {
    font-size: 1.2em;
    color: #969aa0;
    padding-bottom: 15px;
    text-decoration: none;
    transition: 0.5s;
    margin-bottom: 0em;
    margin-top: 2em;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #232f3e;
}

.footer_up {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer_bottom {
    align-self: flex-end;
}

.footer_bottom p {
    margin-right: 2em;
}

footer ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.link_footer {
    margin-top: 0em;
    padding-left: 0.5em;
}

footer li {
    margin-right: 30px;
}

footer a {
    font-size: 1em;
    color: #dde1e6;
    padding-bottom: 15px;
    text-decoration: none;
    transition: 0.5s;
}

footer a:hover {
    text-decoration: underline;
}

.footer_network ul {
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5em;
    margin-bottom: 0em;
}

.footer_network li {
    list-style: none;
}

.footer_network li a {
    display: inline-block;
    margin-right: 20px;
    filter: invert(1);
}