@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto400&display=swap');
body {
    background: rgb(185, 185, 185);
    margin: 0px;
    background-attachment: fixed;
    /* Le fond restera fixe */
}

header {
    background: #131921;
}

.logo {
    padding-left: 25px;
    padding-top: 25px;
}

.network {
    padding-left: 25px;
    padding-top: 25px;
}

.network img {
    max-width: 60%;
    height: auto;
}

.network ul {
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.network li {
    list-style: none;
}

.network li a {
    display: inline-block;
    margin-right: 5px;
    filter: invert(1);
    transition: 0.5s;
}

.network li a:hover {
    transform: translateY(-15px);
}


/* identification (login/register) */

#indentifcation {
    border: 10px solid red;
    /* marche pas */
}

#identification ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding-inline-start: 0px;
    padding-inline-end: 1em;
}

.header_right li
/*#indentication a est relou */

{
    padding-right: 0.1em;
}

.header_right a
/*#indentication a est relou */

{
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

.header_right input[type=button] {
    background-color: #2e3b49;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.24), 0 3px 7px 0 rgba(0, 0, 0, 0.19);
    transition: 0.5s;
}

.header_right input[type=button]:hover
/* #indentication a:hover morche po */

{
    background-color: #506072;
}

.register input[type=button] {
    background-color: #4CAF50;
}

.register input[type=button]:hover
/* #indentication a:hover morche po */

{
    background-color: #69c46c;
}

.header_right input[type=button]:active
/* #indentication a:hover morche po */

{
    background-color: #30373f;
    transform: translateY(-5px);
}

.register input[type=button]:active
/* #indentication a:hover morche po */

{
    background-color: #215322;
}


/* Flex Header */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 15px;
}

.header_left {
    display: flex;
    flex-direction: row;
}


/* Banniere */

.banniere_image {
    display: flex;
    margin: auto;
    justify-content: center;
}

.banniere_image img {
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    max-width: 100%;
    height: auto;
}


/* Flex main aside */

.bloc_page {
    display: flex;
    /* margin : 10em; */
    margin-left: 4em;
    margin-top: 5em;
    margin-right: 3em;
    margin-bottom: 5em;
}

article,
aside {
    text-align: justify;
}

aside {
    font-family: 'Roboto-Medium', 'Raleway';
    flex: 1.2;
    position: relative;
    background-color: rgba(255, 244, 244, 0.918);
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    padding: 10px;
    color: black;
    font-size: 0.9em;
}

article {
    margin-right: 3em;
    padding-left: 3em;
    flex: 3;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    background-color: white;
}

article p {
    margin-right: 20px;
    border-radius: 5px;
    /* pour bien voir, temp */
    padding: 10px;
}

h1 {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 2.5em;
    text-decoration: underline;
}

.icons-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5em;
}

.icons-intro ul {
    list-style-type: none;
    display: flex;
    padding-left: 10em;
}

.icons-intro li {
    margin-right: 30px;
    display: flex;
    flex-direction: column;
}

.icons-intro img {
    max-width: 50%;
    max-height: auto;
    border-radius: 50%;
    border-style: solid;
}

.conception {
    display: flex;
    flex-direction: column;
}

.conception img {
    margin-left: 10em;
    max-width: max-content;
    max-height: auto;
}

.annonceErreur {
    background-color: white;
    display: flex;
    justify-content: center;
    padding-bottom: 5em;
}

.annonceErreur p {
    font-size: 5em;
    font-family: 'Roboto';
    text-align: left;
}

.annonceErreur img {
    max-height: 300px;
    max-width: auto;
    margin-top: 8em;
    margin-left: 2em;
}

.blocLogin {
    display: flex;
    justify-content: center;
    margin-top: 5em;
    margin-bottom: 5em;
}

.container {
    display: flex;
    align-self: center;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    padding: 5em;
    padding-top: 2em;
}

.container h1 {
    color: rgb(209, 145, 27);
    font-family: 'Poppins', sans-serif;
}