nav {
    background: #232f3e;
    display: flex;
    justify-content: space-between;
}

.link {
    display: flex;
    justify-content: flex-end;
}

.link ul {
    list-style-type: none;
    display: flex;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-right: 10em;
}

.link li {
    margin-right: 30px;
}

.link a {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    color: white;
    padding-bottom: 3px;
    text-decoration: none;
    transition: 0.5s;
}

.link a:hover {
    padding-left: 0.5;
    padding-right: 1.0em;
    text-decoration: underline;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.search {
    width: 100%;
    position: relative;
    display: flex;
}

.searchTerm {
    width: 100%;
    border: 3px solid #2e3b49;
    border-right: none;
    padding: 1px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus {
    color: #2e3b49;
}

.searchButton {
    width: 40px;
    height: 28px;
    border: 1px solid #2e3b49;
    background: #2e3b49;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}


/*Resize the wrap to see the search bar change!*/

.wrap {
    margin-top: 1em;
    margin-left: 1em;
    width: 10%;
    top: 50%;
    left: 50%;
}

.fa {
    object-fit: cover;
}

.fa img {
    padding-top: 0.05em;
    max-width: 100%;
    height: auto;
    filter: invert(1);
}

.stickyNav {
    position: fixed;
    top: 0;
    width: 100%;
}